/* Webfont: ZohoPuvi-Regular */@font-face {
    font-family: 'ZohoPuvi';
    src: url('Zoho Puvi Regular.woff2') format('woff2'), /* Modern Browsers */
         url('Zoho Puvi Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

