/* Webfont: ZohoPuvi-Semibold */@font-face {
    font-family: 'ZohoPuviSemBd';
    src: url('Zoho Puvi Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('Zoho Puvi Semibold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

