/* Webfont: ZohoPuvi-Extralight */@font-face {
    font-family: 'ZohoPuviThin';
    src: url('Zoho Puvi Extralight.woff2') format('woff2'), /* Modern Browsers */
         url('Zoho Puvi Extralight.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

