/* Webfont: ZohoPuvi-Regular */@font-face {
    font-family: 'ZohoPuvi';
    src: url('Zoho Puvi Regular.eot'); /* IE9 Compat Modes */
    src: url('Zoho Puvi Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho Puvi Regular.woff') format('woff'), /* Modern Browsers */
         url('Zoho Puvi Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

