<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>Zoho Notebook</title>
  </head>
  <body class="flex-center">
    <%- include('./partials/signup');%>
  </body>
</html>
