<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="favicon" href="/assets/images/favicon.ico" />
    <title>NoteIt</title>
  </head>
  <body class="flex-center">
    Hello
  </body>
</html>
