/* Added fonts */
@font-face {
  font-family: "Regular";
  src: local("Zoho Puvi Regular.ttf"),
    url("./fonts/Zoho\ Puvi\ 3.5/Web-TT/Zoho\ Puvi\ Regular.ttf")
      format("truetype");
}
@font-face {
  font-family: "Light";
  src: local("Zoho Puvi Light.ttf"),
    url("./fonts/Zoho\ Puvi\ 3.5/Web-TT/Zoho\ Puvi\ Light.ttf")
      format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("Zoho Puvi Medium.ttf"),
    url("./fonts/Zoho\ Puvi\ 3.5/Web-TT/Zoho\ Puvi\ Medium.ttf")
      format("truetype");
}

/* General  */
body {
  font-family: "Regular";
}
